# Задачи на основы синтаксиса

## Задача 1.1 Unix-конвертер
Пользователь с клавиатуры вводит время в формате в формате Unix (https://ru.wikipedia.org/wiki/Unix-время). Необходимо вывести соответствующее время в формате YYYY-MM-DD hh:mm:ss.

**Замечание** Задание необходимо выполнить без импорта библиотек и модулей.

Пример
> input
>
> `1592600399`
>
> output
>
> `2020-06-19 23:59:59`

In [7]:
nonv_year = dict(zip(('01','02','03','04','05','06','07','08','09','10','11','12'),
                 (31,28,31,30,31,30,31, 31, 30, 31, 30,31)))

In [8]:
v_year = dict(zip(('01', '02','03','04','05','06','07','08','09', '10','11','12'),
                  (31,29,31, 30,31,30, 31,31,30,31,30,31)))

In [10]:
start_year = 1970
sec = int(input())
our_time=sec
n = 0
if our_time > 2147558399:
    print("ошибка: Unix формат заканчивается 19 января 2038 года")
else: 
    y = start_year + our_time // 31536000  
    if y % 4 !=0 or (y%100!=0):
        curr_year = False   
    else:
        curr_year = True
    #считаем сколько високосных лет
    yv = (y - start_year) // 4     
    while yv > 365:
        yv = yv - 365
        y += 1
        n += 1
         
    years_after = (y - start_year)
    days = years_after * 365 + curr_year - 1 
    d= (our_time + n * 31622400) // 86400 - days   
    if  curr_year == True:
        for key, value in v_year.items():
           
            d = d - int(key)
            if d < 0:
                d = value + d
                break
       
    if curr_year == False:
        for key, value in nonv_year.items():
            
            d = d - value
            if d < 0:
                d = value + d
                break    
    if y == 1970: 
        h = ((our_time // 3600)) % 24
        m = (our_time // 60) % 60
        s = our_time % 60  
    elif y > 1970:
           
        sl = our_time - days * 86400
        h = ((sl // 3600)) % 24
        m = (sl // 60) % 60
        s = sl % 60

    print('%d-%02d-%02d %d:%02d:%02d'% (y, int(key), d, h, m, s))

1592600399
2020-07-02 20:59:59

### Комментарий
Очень грубый рассчет. нужно учитывать високосные года и разную длину месяцев

## Задача 1.2 Сколько уже торгуем?
Пользователь с клавиатуры вводит время в миллисекундах с начала торгового дня. Определить, какая сейчас идет секунда в формате hh:mm:ss. Торговый день начинается в 10:00:00

**Замечание** Задание необходимо выполнить без импорта библиотек.

Пример
> input
>
> `1000`
>
> output
>
> `10:00:01`

In [34]:
work_last= int(input())

1000

In [35]:
h = 3600000
mi = 60000
s = 1000
work_start = 10*h

In [36]:
hour = work_last//h
minute = (work_last - hour*h)//mi
second = round((work_last - hour*h - minute*mi)/s)

In [37]:

hour+=10
if len(str(hour))==1:
    hour = '0'+str(hour)
if len(str(minute))==1:
    minute = '0'+str(minute)    
if len(str(second))==1:
    second = '0'+str(second)

In [38]:
our_data = [hour, minute, second]

In [39]:
print(':'.join(map(str,our_data)))

10:00:01

### Комментарий
Вы считаете от полночи, на надо от 10 утра

## Задача 1.3 ROC-distance
Пользователь вводит с клавиатуры два числа от 0 до 1, являющиеся координатами точки ROC-curve(google it). Определить расстояния до точки с координатами (0;1).

In [21]:
#задача на расстояние от точки до точки в декартовых координатах на плоскости
x = float(input())
y = float(input())
dist =(x**2 + (1-y)**2)**0.5
print(dist)
print(round(dist),2)

0.5
0.5
0.7071067811865476
1 2

### Комментарий
Ошибка со скобками при округлении, да и не знаю, зачем вы округляете

## Задача 1.4 Сколько стоил мне портфель?
Пользователь вводит сначала размер комиссии за сделку (в %), а затем тикер, количество бумаг и цену актива (каждый параметр в новом поле). Чтобы прекратить ввод пользователь пишет 0.

Необходимо вывести информацию о портфеле в следующем формате:

```
Вы приобрели AAPL MSFT DAL
Всего 3 актива.
Издержки на приобретение 1000, в том числе комиссия 5.
```

**Замечание** размер комиссии за покупку одной бумаги актива не может быть меньше $\$0.01$ (предположим, что цены в долларах)

In [1]:
num=0
tot_sum=0
com_size=0

com = float(input())
tick=''

while True:
    tick = tick+' '+ input()
    amount = int(input())
    price = float(input())
    if price * amount * com < 0.01 :
        print('Комиссия должна быть не менее 0.01$!')
  
    com_size= com_size + price*amount*com
    tot_sum = tot_sum+(price*amount + com*price*amount)
    num+=1

    if input() == '0':
        print('Вы приобрели {} Всего {} актива. Издержки на приобретение {}, \
в том числе комиссия {}'.format(tick, num, tot_sum,com))
        break

0.09
sdf
6
7
0.08
t
8
7
0
Вы приобрели  sdf t Всего 2 актива. Издержки на приобретение 106.82, в том числе комиссия 0.09

### Комментарий
IndexError: list index out of range

## Задача 1.5 Найти делители числа
Пользователь вводит с клавиаутры число N. Необходимо вывести все делители этого числа через запятую.

In [387]:
n = int(input())
dividers = []

for i in range(1, n+1):
    
    if n%i==0:
        
        dividers.append(i)
        
print(*dividers, sep=', ')

9
1, 3, 9

## Задача 1.6 Описательные статистики
Пользователь поочередно вводит с клавиатуры числа, в том числе нецелые. Ввод последовательности завершается словом "end". Необходимо рассчитать максимум, минимум, средее и стандартное отклонение в последовательности.

In [388]:
from statistics import mean
from statistics import stdev

In [389]:
p=[]
n = input()
while n!='end':
    n=float(n)
    p.append(n)
    n = input()

9
8
8
9
end

## Задача 1.7 Переводчик на "латынь"
Пользователь вводит натуральное число. Необходимо вывести число в записи рискими цифрами.

In [24]:
transl = ((1000, 'M'), (900, 'CM'), (500, 'D'), (400, 'CD'),
    (100, 'C'), (90, 'XC'), (50, 'L'), (40, 'XL'),
    (10, 'X'), (9, 'IX'), (5, 'V'), (4, 'IV'), (1, 'I'))

def from_arab_to_rome(n):
    if n <= 0: return 'Введите число больше 0!'
    resp = ''
    for arab, roman in transl:
        while n >= arab:
            resp += roman
            n -= arab
    return resp

In [26]:
n = input()

from_arab_to_rome(n)

8000

TypeError: '<=' not supported between instances of 'str' and 'int'

### Комментарий
TypeError: '<=' not supported between instances of 'str' and 'int'

## Задача 1.8 Следующее четное
Пользователь вводит число с клавитуры. Необходимо вывести следующее за ним четное число.

**Внимание!** при решении задания нельзя использовать условные операторы и циклы.

In [ ]:
n = int(input())
print(n+2-(n%2))

## Задача 1.9 Когда я стану богатым?
В банк кладется N рублей под r процентов годовых. Проценты капитализируются каждый квартал. При капитализации дробная часть копеек отбрасывается. Рассчитать, сколько лет потребуется, чтобы сумма вклада превысила M рублей.
Параметры задачи пользователь вводит с клавиатуры по отдельности.
Точность расчетов: до четверти года.

Пример

>input
>
>`N: 10000`
>
>`r(%): 5`
>
>`M: 12000`
>
>output
>
>`3.75` или `3 года 9 месяцев`

In [ ]:
from math import floor

In [ ]:
floor(1.2222*100)/100 #отбросим копейки при капитализации

In [ ]:
n = int(input())
r = int(input())/100 #введите процент как целое число
M = int(input())
#проценты вводятся годовые, а капитализируются каждый квартал

year = 0
while n<M:
    n += floor(n*(r/4)*100)/100
    year+=0.25
print(year)

## Задача 1.10 Конвертер систем счисления
Пользователь вводит с клавиатуры число в десятичной системе, которое хочет перевести, и порядок системы счисления (не более 16). Нужно перевести число в заданную систему счисления.

In [ ]:
num = int(input('Введите число: '))
base = int(input('Введите базис системы счисления, не больше 16: '))
rem = {10:'A', 11:'B', 12:'C', 13:'D', 14:'E', 15:'F'}
new = ''
if 2<=base<=16:
    
    while num > 0:
        
        if base>10:
            sh = num % base
            if sh in rem.keys():
                new = rem[sh]+new
                
            else:
                new = str(sh)+new
            num //= base
            
        else:
            new= str(num % base) + new
            num //= base
    print(new)
else:
    print('Система счисления должна быть не меньше 2 и не больше 16, попробуйте еще разок')

## Задача 1.11 Оценка за задачки
Пользователь с клавиатуры вводит информацию о сданных студентами задачах:

`name1 1 4 7 9 10 11 14 15; name2 1 2 3 4 5 6 7 8; name3 1 3 5 7 9 11 13 15; name4 2 4 6 8 10 12 14`

где после имени студента через пробел идут номера решенных им задач. Результаты студентов разделены точкой с запятой. Расчитайте оценку каждого студента в соответствии с формулой из программы курса, и выведите таблицу с результатами из двух столбцов: имя студента и оценка.

In [27]:
import pandas as pd
#формулы из таблицы курса
# result = pd.DataFrame()
data_ =[[j for j in i.split(' ')] for i in input().split('; ')]

name1 4 5 6 8 10; name2 3 5 6 7 8 10; name3 2 3 5 6 7 8 9; name4 1 2 3 4 5 6 7 8 9 10; name5 3 5 7 9; name6 2 3 5 6 7 9 10; name7 3 8; name8 3 5 7 8; name9 5 6 8 9 10; name10 2 3 5 6 7 8 9 10

In [28]:
data_

[['name1', '4', '5', '6', '8', '10'],
 ['name2', '3', '5', '6', '7', '8', '10'],
 ['name3', '2', '3', '5', '6', '7', '8', '9'],
 ['name4', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
 ['name5', '3', '5', '7', '9'],
 ['name6', '2', '3', '5', '6', '7', '9', '10'],
 ['name7', '3', '8'],
 ['name8', '3', '5', '7', '8'],
 ['name9', '5', '6', '8', '9', '10'],
 ['name10', '2', '3', '5', '6', '7', '8', '9', '10']]

In [29]:
dat = {}
for i in data_:
    dat[(i[0])] = [int(i) for i in i[1:]]
stud_amount = len(dat.keys())

tasks = []
for values in dat.values():
    tasks.extend(values)

di = {}
for i in tasks:
    di[i] = tasks.count(i)

level = {}
for key, value in di.items():
    level[key] = (stud_amount-value)+1 

marks = {}
for key, value in dat.items():
    for i in value:
        if i in level.keys():
                        
            if key not in marks.keys():
                marks[key] = level[i]
        
            marks[key]+=level[i]
max_mark = max(marks.values())
for key, value in marks.items():
    marks[key]=[round((0.5+1.5*(value/max_mark)),2)]

In [30]:
for key, value in dat.items():
    if len(value)<5:
        marks[key]='Нет оценки'

In [31]:
df = pd.DataFrame(marks, index=None)
df = df.T
df = df.reset_index()
df = df.rename(columns={0:'Оценка', 'index': 'Имя'})

In [32]:
df

      Имя      Оценка
0   name1        1.27
1   name2        1.08
2   name3        1.35
3   name4           2
4   name5  Нет оценки
5   name6         1.4
6   name7  Нет оценки
7   name8  Нет оценки
8   name9        1.01
9  name10        1.47

## Задача 1.12 Лог сделок
Дана таблица pandas `tradelog`, содержащая информацию о сделках. Таблица имеет следующие столбцы:

- `no`: номер сделки;
- `asset`: тикер актива;
- `action`: тип сделки ("B", если покупка, "S", если продажа)
- `price`: цена сделки
- `volume`: объем сделки

Рассчитайте баланс по каждому активу и выведите таблицу из трех столбцов: тикер актива, прибыль (разность между доходами от продажи и расходами на покупку), количество активов в наличии (может быть отрицательным).

In [33]:
import pandas as pd
import string
import random
N = 5
tradelog = pd.DataFrame({
    'no': list(range(1, N + 1)),
    'asset': [random.choice(string.ascii_uppercase[:5]) for x in range(N)],
    'action': [random.choice(["B", "S"]) for x in range(N)],
    'price': [round(random.uniform(9, 11), 2) for i in range(N)],
    'volume': [random.randrange(1, 11, 1) for i in range(N)]
})
print(tradelog)
# !!! обратите внимание, что таблица генерируется случайно,
# поэтому лучше писать решение в отдельной ячейке

   no asset action  price  volume
0   1     E      B  10.77      10
1   2     B      S  10.49       5
2   3     C      S  10.89       8
3   4     B      B  10.74       6
4   5     C      B  10.28      10

In [34]:
tradelog['operation'] = tradelog['price']*tradelog['volume']

In [35]:
tradelog['operation'] =tradelog['operation'].apply(lambda x: x*(-1))

In [36]:
tradelog.loc[tradelog['action']=='B', 'operation']*=(-1)

In [37]:
tradelog.sort_values(['asset']).head(3)

   no asset action  price  volume  operation
1   2     B      S  10.49       5     -52.45
3   4     B      B  10.74       6      64.44
2   3     C      S  10.89       8     -87.12

In [38]:
tradelog.groupby('asset', as_index=False).aggregate({'operation':'sum'})

  asset  operation
0     B      11.99
1     C      15.68
2     E     107.70

### Комментарий
не хватает количества активов

## Задача 1.13 Вектор доходностей
Пользователь вводит с клавиатуры вектор из цен закрытия часа для некоторого актива (разделитель пробел), и в отдельном поле параметр T (длительность позиции в часах). Выведите вектор относительных приростов цены каждые T часов.

**Внимание!** В задаче нужно использовать массивы numpy и нельзя использовать циклы

Пример

>input
>
>`1 2 3 4 5 6 7`
>
>`2`
>
>output
>
>`array([2, 0.66667, 0.4])`

In [39]:
import numpy as np

In [40]:
prices = np.array([int(i) for i in input().split()])
T = int(input())
indexes = np.array(range(len(prices)))

1 2 3 4 5 6 7
2

In [41]:
p = prices[[indexes%T==0]]
p_end = p[1:]
p_beg= p[:-1]
answer = (p_end-p_beg)/p_beg
print(answer)

[2.         0.66666667 0.4       ]

C:\Users\che-g\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  """Entry point for launching an IPython kernel.

## Задача 1.14 Простые числа меньше N
Пользователь вводит с клавиатуры число N. Выведите в строчку через запятую все простые числа, меньше N.

Пример
>input
>
>`10`
>
>output
>
>`2, 3, 5, 7`
>

In [42]:
#алгоритм решета Эратосфена
n = int(input())
a = [int(i) for i in range(n+1)]
a[1]=0
fin = []
i = 2
while i <= n:
    if a[i] != 0: 
        fin.append(a[i])
        for j in range(i, n+1,i): #шаг - число i, которое мы уже добавили в список простых. убираем кратные ему числа из общего списка
            a[j] = 0
    i += 1
print(fin)

15
[2, 3, 5, 7, 11, 13]

## Задача 1.15 Фундаментальный инвестор из будущего
Гость из будущего точно знает все дивиденды, которые выплатит некоторая компания до своего банкроства. Он вводит с клавиатуры через пробел размер дивидендов в каждый год с текущего момента. Используя DCF-модель, рассчитайте фундаментальную стоимость акции.

**Внимание!** Нужно использовать массивы numpy, нельзя использовать циклы.

In [43]:
import numpy as np
div = np.array([int(i) for i in input().split()])

10 10 10 10 10

In [44]:
r = 0.05

In [45]:
future_value = sum(div/((1+r)**len(div)))

In [46]:
print(round(future_value,2))

39.18

### Комментарий
по вашей записи future_value (которая на самом деле present value) все дивиденды выплачивают одновременно перед банкротством компании